<div class="container">
    <div class="heading">
        <h1>{{ isLoginMode ? 'Login' : 'Sign Up' }}</h1>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="form-group">
            <label for="email">
            <input 
                placeholder="Email"
                type="email" 
                id="email" 
                ngModel
                name="email"
                required
                email>
            </label>
        </div>
        <div class="form-group">
            <label for="password">
            <input 
                placeholder="Password"
                type="password" 
                id="password" 
                ngModel
                name="password"
                required
                minlength="6">
            </label>
        </div>
        <div *ngIf="!isLoginMode">
            <div class="form-group">
                <label>
                <input 
                    placeholder="First Name"
                    type="text"
                    id="firstName"
                    ngModel
                    name="firstName"
                    required>
                </label>
            </div>
            <div class="form-group">
                <label for="lastName">
                <input 
                    placeholder="Last Name"
                    type="text"
                    id="lastName"
                    ngModel
                    name="lastName"
                    required>
                </label>
            </div>
            <div class="form-group">
                <label for="lastName">Location</label>
                <label>
                <input 
                    placeholder="City"
                    type="text"
                    id="city"
                    ngModel
                    name="city"
                    required>
                </label>
            </div>
            <div class="form-group">
                <label>
                <input 
                    placeholder="State"
                    type="text"
                    id="state"
                    ngModel
                    name="state"
                    required>
                </label>
            </div>
            <div class="form-group">
                <label>
                <input 
                    placeholder="Profile Image Link"
                    type="text"
                    id="profileImagePath"
                    ngModel
                    name="profileImagePath"
                    required>
                </label>
            </div>
        </div>
        <div class="loginButtons">
            <button class="button" type="submit" [disabled]="!authForm.valid">
                {{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>
            <button class="button" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
        </div>
    </form>
</div>