<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
          <div class="col-md">
              <app-create-post></app-create-post>
          </div>
          <div 
            class="col-md"
            *ngFor="let post of feed; let i = index">
            <a href="" onclick="return false" (click)="onProfileClick(post.uid)">{{post.firstName}} {{post.lastName}}</a>
            <p>{{post.body}}</p>
            <div class="row" *ngIf="post.imagePaths.length !== 0">
                <div 
                    class="col-xs-12" 
                    *ngFor="let path of post.imagePaths; let i = index"
                    >
                        <img [src]="path.imagePath" class="img-responsive" width="200" height="200">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" (click)="onLike(i)" > 
                    <a href="" onclick="return false">{{post.likes.length}} {{ post.likes.length == 1 ? "Like" : "Likes"}}</a>
                </div>
                <div class="col-md-3" (click)="onShowComments(i)">
                    <a href="" onclick="return false">{{post.comments.length}} {{ post.comments.length == 1 ? "Comment" : "Comments"}}</a>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" *ngIf="post.showComments">
                <div 
                    class="col-md-8"
                    *ngFor="let comments of post.comments; let i = index"
                    >
                    <a href="" onclick="return false" (click)="onProfileClick(comments.uid)">{{comments.firstName}} {{comments.lastName}}</a>
                    <p>{{comments.body}}</p>
                </div>
                <div class="col-md-8" style="background-color:dimgray;">
                    <form #commentForm="ngForm" (ngSubmit)="onComment(commentForm, i)">
                        <div class="form-group">
                            <input 
                                type="text"
                                id="comment"
                                class="form-control"
                                ngModel
                                name="comment"
                                required
                                placeholder="Write a comment">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="comment">
                                Comment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
      </div>
  </div>