<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
          <div class="col-md">
              <app-create-post></app-create-post>
          </div>
          <div 
            class="col-md"
            *ngFor="let post of feed; let i = index">
            <a style="cursor: pointer;" (click)="onProfileClick(post.uid)">{{post.firstName}} {{post.lastName}}</a>
            <p>{{post.body}}</p>
            <div class="row" *ngIf="post.imagePaths.length !== 0">
                <div 
                    class="col-xs-12" 
                    *ngFor="let path of post.imagePaths; let i = index"
                    >
                        <img [src]="path.imagePath" class="img-responsive" width="200" height="200">
                </div>
            </div>
            <div class="row">
                <app-like-post
                    [post]="post"
                    [index]="i">
                </app-like-post>
                <div class="col-md-3" (click)="onShowComments(i)">
                    <a style="cursor: pointer;">{{post.comments.length}} {{ post.comments.length == 1 ? "Comment" : "Comments"}}</a>
                </div>
            </div>
            <div class="row" *ngIf="post.showComments">
                <app-comment-post
                    [post]="post"
                    [postIndex]="i"></app-comment-post>
            </div>
          </div>
      </div>
  </div>