<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
          <div class="col-md">
              <app-create-post></app-create-post>
          </div>
          <div 
            class="col-md"
            *ngFor="let post of feed | keyvalue">
            <a style="cursor: pointer;" (click)="onProfileClick(post.value.uid)">{{post.value.firstName}} {{post.value.lastName}}</a>
            <p>{{post.value.body}}</p>
            <div class="row" *ngIf="post.value.imagePaths.length !== 0">
                <div 
                    class="col-xs-12" 
                    *ngFor="let path of post.imagePaths; let i = index"
                    >
                        <img [src]="path.imagePath" class="img-responsive" width="200" height="200">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" (click)="onLike(post.key)" > 
                    <a style="cursor: pointer;">{{post.value.likes.length}} {{ post.value.likes.length == 1 ? "Like" : "Likes"}}</a>
                </div>
                <div class="col-md-3" (click)="onShowComments(post.key)">
                    <a style="cursor: pointer;">{{post.value.comments.length}} {{ post.value.comments.length == 1 ? "Comment" : "Comments"}}</a>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" *ngIf="post.value.showComments">
                <div 
                    class="col-md-8"
                    *ngFor="let comments of post.value.comments, let i = index"
                    >
                    <div class="col-md-6">
                        <a style="cursor: pointer;" (click)="onProfileClick(comments.uid)">{{comments.firstName}} {{comments.lastName}}</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger" style="float: right;" (click)="onDeleteComment(i, post.key)">X</button>
                    </div>
                    <div class="col-md col-md-offset-1">
                        <p>{{comments.body}}</p>
                    </div>
                </div>
                <div class="col-md-8" style="background-color:dimgray;">
                    <form #commentForm="ngForm" (ngSubmit)="onComment(commentForm, post.key)">
                        <div class="form-group">
                            <input 
                                type="text"
                                id="comment"
                                class="form-control"
                                ngModel
                                name="comment"
                                required
                                placeholder="Write a comment">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="comment">
                                Comment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
      </div>
  </div>